---
page_title: "{{ .Name }} {{ .Type }} - {{ .RenderedProviderName }}"
subcategory: ""
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

### Basic GPU cluster with public networking

Create a GPU virtual cluster with external IPv4 networking and a boot volume from an image.

{{tffile "examples/resources/gcore_cloud_gpu_virtual_cluster/basic.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}
## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{ end }}
