---
page_title: "{{ .Name }} {{ .Type }} - {{ .RenderedProviderName }}"
subcategory: ""
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

### Boot volume from image

Creates a boot volume from an OS image.

{{tffile "examples/resources/gcore_cloud_volume/boot-volume.tf"}}

### Standalone data volume

Creates a blank data volume for additional storage.

{{tffile "examples/resources/gcore_cloud_volume/data-volume.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}
## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{ end }}
