---
page_title: "{{ .Name }} {{ .Type }} - {{ .RenderedProviderName }}"
subcategory: ""
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

### Allow HTTPS ingress from internal network

Creates an ingress rule allowing HTTPS traffic from a specific CIDR range.

{{tffile "examples/resources/gcore_cloud_security_group_rule/basic.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}
## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{ end }}
