---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: ""
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

### Secret with multiple slots

Creates a FastEdge secret with two secret slots using variables.

{{tffile "examples/resources/gcore_fastedge_secret/basic.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}
## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{ end }}
